*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #ecf0f3;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{

                                                /* SHADOW */
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);

                                                    /* GRID */
    display: grid;
    grid-template-columns:repeat(4,70px);
}
#output-screen{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px -12px #ffffff,
                inset  5px  5px  12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color : rgb(70, 70, 79);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px; 
}